$font-size: 22px;

html {
  font-size: $font-size;
}
body {
  background-color: #f2d9bb;
  color: #025373;
  margin: $font-size;
}
h1 {
  color: #bf6b63;
  font-family: "Nerko One", cursive;
}
p {
  font-family: Oswald, sans-serif;
}
a {
  color: #03738c;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc($font-size + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: calc($font-size + 4px);
  }
}
